#container{
    display:flex;

}
table {
    margin:auto;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid black;
    width: 100px;
    height: 20px;
  }
  
  tr:nth-child(2n) {
    background-color: lightgray;
  }